@page
@using BloggieToBike.Pages.IndexModel;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section id="home" class="hero">
    <div class="hero-content">
        <div class="hero-card">
            <div class="card-body">
                <h1>Explore the Area on Two Wheels!</h1>
                <h4>Browse nice bike routes out of Oak Park in any direction, any length</h4>
                <p>Join the members sections to add your own routes for the low price of $5</p>
            </div>
        </div>
        
        <br />
        <a href="/events" class="cta-button">Upcoming Events</a>
    </div>
</section>
@* 
<section id="about" class="about-section">
    <div class="about-content">
        <h2>About Us</h2>
        <p>We are a passionate community of cyclists dedicated to sharing the joy of cycling and exploring new horizons.</p>
    </div>
</section>

<section id="events" class="events-section">
    <a href="/Events">
        <h2>Upcoming Events</h2>
    </a>
    <!-- Event cards can be added here -->

</section>

<section id="routes" class="routes-section">
    <a href="/BikeRoutes">
        <h2>Popular Routes</h2>
    </a>

    <!-- Route cards can be added here -->
</section>

<section id="contact" class="contact-section">
    <h2>Contact Us</h2>
    <p>Have questions or ready to join an adventure? Get in touch with us!</p>
    <a href="mailto:info@cyclingadventures.com" class="cta-button">Email Us</a>
</section> *@




<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mx-auto">

            <h4 class="my-3 mx-auto display-3 align-content-sm-center">Featured Routes</h4>

            @if (Model.NewBikeRoute != null && Model.NewBikeRoute.Any())
            {
                @foreach (var route in Model.NewBikeRoute)
                {
                    @if (route.Featured == true)
                    {
                        <div class="mb-5 bg-light box-shadow">
                            @* <img src="@route.FeaturedImageUrl" alt="@route.Name" class="mb-2 d-block img-fluid" /> *@

                        <div class="px-4 py-4">
                            <h3 class="mb-2">@route.Name</h3>
                            <p>
                                Length: @route.Length
                                <br/>
                                Direction: @route.Direction
                                <br/>
                                Description: @route.ShortDescription
                            </p>
                            @* <p class="mb-2">@route.ShortDescription</p> *@
                            <a href="/NewBikeRoutes/Details?id=@route.Id" class="btn btn-dark mt-1 mb-3">Read More</a>
                            <div class="strava-embed-placeholder strava-image" data-embed-type="activity" data-embed-id="@route.StravaLink" ></div>
                        </div>
                    </div>
                    }
                }
            }
        </div>
    </div>
</div>



